<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button href="tabs/explore" color="primary">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Confirmer et payer</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
        <ion-card *ngIf="property">
            <ion-card-header>
                <ion-card-title>Votre voyage</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <div class="informations dates">
                    <div class="left">
                        <h3>Dates</h3>
                        <p>{{ startDate | date: 'shortDate' }} - {{ endDate | date: 'shortDate' }}</p>
                    </div>
                    <ion-button id="open-modal-date" (click)="openDateModal()" fill="clear">Modifier</ion-button>
                </div>
                <div class="informations travelers">
                    <div class="left">
                        <h3>Voyageurs</h3>
                        <p>{{adults}} adulte{{adults > 1 ? 's' : ''}}, {{children}} enfant{{children > 1 ? 's' : ''}}, {{babies}} bébé{{babies > 1 ? 's' : ''}}</p>
                    </div>
                    <ion-button id="open-modal-travelers" (click)="openTravelersModal()"fill="clear">Modifier</ion-button>
                </div>
                <div class="informations flights">
                    <div class="left">
                        <h3>Vols</h3>
                        <p *ngIf="selectedFlights.length === 0">Aucun vol sélectionné</p>
                        <div *ngFor="let flight of selectedFlights">
                            <p>Départ de {{ flight.departureAirport }} - {{ flight.airline }}</p>
                            <p> {{ flight.departureTime | date:'short' }} à {{ flight.arrivalTime | date:'short' }}</p>
                        </div>
                    </div>
                    <ion-button id="open-modal-flights" (click)="openFlightsModal()" fill="clear">Modifier</ion-button>
                </div>
            </ion-card-content>
        </ion-card>
        <ion-card *ngIf="property">
            <ion-card-header>
                <ion-card-title>Détails du prix</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <div class="informations prices">
                    <p>{{ property.price  }} € x {{ numberOfNights }} nuits {{numberOfNights > 1 ? 's' : ''}}</p>
                    <p>Vols = {{ calculateFlightPrice() }} €</p>
                </div>
            </ion-card-content>
            <div class="footer-card">
                <h3>Total(EUR)</h3>
                <h3>{{ calculateTotalPrice()  | number:'1.2-2' }} €</h3>
            </div>
        </ion-card>
    <ng-container *ngIf="isLoggedIn; else notLoggedIn">
        <div class="content">
            <ion-button expand="block"  (click)="confirmAndPay()">Confirmer et payer</ion-button>
        </div>
    </ng-container>
    <ng-template #notLoggedIn>
        <ion-card>
            <ion-card-header>
                <ion-card-title>Connectez-vous ou inscrivez-vous pour continuer</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <ion-button expand="block" color="primary" (click)="navigateToLogin()">Se connecter</ion-button>
                <ion-button expand="block" color="primary" fill="outline" (click)="navigateToSignup()">S'inscrire</ion-button>
            </ion-card-content>
        </ion-card>
    </ng-template>
    <!-- Modal update date -->
    <ion-modal trigger="open-modal-date" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
        <ng-template>
          <div class="block">
            <div class="date">
                <ion-label>Date de début</ion-label>
                <ion-datetime display-format="DD MMM YYYY" presentation="date" [preferWheel]="true" (ionChange)="updateTempStartDate($event)" [(ngModel)]="tempStartDate"></ion-datetime>
              </div>
              <div class="date">
                <ion-label>Date de fin</ion-label>
                <ion-datetime display-format="DD MMM YYYY" presentation="date" [preferWheel]="true" (ionChange)="updateTempEndDate($event)" [(ngModel)]="tempEndDate"></ion-datetime>
              </div>
            <div class="buttons-modal">
                <ion-button color="primary" fill="outline" (click)="cancelDates()">Annuler</ion-button>
                <ion-button color="primary" (click)="saveDates()">Enregistrer</ion-button>
            </div>
          </div>
        </ng-template>
    </ion-modal>
    <!-- Modal update travelers -->
    <ion-modal trigger="open-modal-travelers" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
        <ng-template>
            <div class="block">
                <div class="participant-selector">
                    <div class="participant">
                    <div class="details">
                        <span class="title">Adultes</span>
                        <span class="subtitle">13 ans et plus</span>
                    </div>
                    <div class="counter">
                        <ion-button (click)="decrementTemp('adults')" color="primary" shape="round" fill="outline">
                            <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
                        </ion-button>
                        <span>{{tempAdults}}</span>
                        <ion-button (click)="incrementTemp('adults')" color="primary" shape="round" fill="outline">
                            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                        </ion-button>
                    </div>
                    </div>
                    <div class="participant">
                    <div class="details">
                        <span class="title">Enfants</span>
                        <span class="subtitle">De 2 à 12 ans</span>
                    </div>
                    <div class="counter">
                        <ion-button (click)="decrementTemp('children')" color="primary" shape="round" fill="outline">
                            <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
                        </ion-button>
                        <span>{{tempChildren}}</span>
                        <ion-button (click)="incrementTemp('children')" color="primary" shape="round" fill="outline">
                            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                        </ion-button>
                    </div>
                    </div>
                    <div class="participant">
                    <div class="details">
                        <span class="title">Bébés</span>
                        <span class="subtitle">- de 2 ans</span>
                    </div>
                    <div class="counter">
                        <ion-button (click)="decrementTemp('babies')" color="primary" shape="round" fill="outline">
                            <ion-icon slot="icon-only" name="remove-outline"></ion-icon>
                        </ion-button>
                        <span>{{tempBabies}}</span>
                        <ion-button (click)="incrementTemp('babies')" color="primary" shape="round" fill="outline">
                            <ion-icon slot="icon-only" name="add-outline"></ion-icon>
                        </ion-button>
                    </div>
                    </div>
                </div>
                <div class="buttons-modal">
                    <ion-button color="primary" fill="outline" (click)="cancelTravelers()">Annuler</ion-button>
                    <ion-button color="primary" (click)="saveTravelers()">Enregistrer</ion-button>
                </div>
            </div>
        </ng-template>
    </ion-modal>

     <!-- Modal update flights -->
     <ion-modal trigger="open-modal-flights" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
        <ng-template>
            <div class="block">
                <div class="flight-selector">
                    <ion-list class="scrollable-list">
                        <ion-item *ngFor="let flight of flights">
                            <ion-label>
                                <h3>{{ flight.airline }} - {{ flight.departureAirport}}</h3>
                                <p>{{ flight.departureTime | date:'short' }} - {{ flight.arrivalTime | date:'short' }}</p>
                                <p>{{ flight.price }} € </p>
                            </ion-label>
                            <ion-checkbox slot="start" [(ngModel)]="flight.selected"></ion-checkbox>
                        </ion-item>
                    </ion-list>
                </div>
                <div class="buttons-modal fixed-buttons">
                    <ion-button color="primary" fill="outline" (click)="cancelFlights()">Annuler</ion-button>
                    <ion-button color="primary" (click)="saveFlights()">Enregistrer</ion-button>
                </div>
            </div>
        </ng-template>
    </ion-modal>
</ion-content>
