.content-card {
    gap: 10px;
    color: #3A3957;
}

.host {
    display: flex;
    padding: 15px;
    border-radius: 12px;
    background-color: #FCE4D8;
    color: #3A3957;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: #3A3957;
    padding: 15px;
}

.prices {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.fly {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
}

.fly-title {
    gap: 5px;
}

.fly-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fly-details {
    color: #3A3957;
}